html {
	overflow-y: scroll;
}

body {
	padding: 25px;
	background-color: black;
	color: white;
}

input {
	background-color: black;
	border: 1px solid #7b5d2a;
	border-radius: 3px;
	color: rgb(80, 63, 26);
	padding-left: 5px;
	padding-right: 5px;
}

a {
	color: #00B7FF;
}

a:hover {
	text-decoration: none;
}

footer {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}