<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap: CSS -->
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" />

		<!-- CSS Styling -->
		<link rel="stylesheet" href="/stylesheets/style.css" />


		<title>Forging Profits</title>
	</head>
	<body ng-app="forgingProfitsApp">
		
		<!-- Injected with Partials -->
		<div ng-view></div>
		
		<footer>
			<span>Footer space holder</span>
		</footer>



		<!-- JQuery -->
		<script src="/bower/jquery/dist/jquery.min.js"></script>

		<!-- Angular: Essential Libraries -->
		<script src="/bower/angular/angular.min.js"></script>
		<script src="/bower/angular-route/angular-route.min.js"></script>

		<!-- Angular: Filters -->
		<script src="/javascripts/filters/_filters.js"></script>

		<!-- Angular: Services -->
		<script src="/javascripts/services/_services.js"></script>
		<script src="/javascripts/services/runescapeApi.js"></script>
		<script src="/javascripts/services/runescapeData.js"></script>

		<!-- Angular: Directives -->
		<script src="/javascripts/directives/_directives.js"></script>
		<script src="/javascripts/directives/profit/superheat.js"></script>
		<script src="/javascripts/directives/profit/smelting.js"></script>
		<script src="/javascripts/directives/profit/smithing.js"></script>

		<!-- Angular: Controllers -->
		<script src="/javascripts/controllers/_controllers.js"></script>

		<!-- Angular: Main App -->
		<script src="/javascripts/forgingProfitsApp.js"></script>

		<!-- Bootstrap: JS -->
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
