<table>
	<thead>
		<tr>
			<th colspan="2">Smelting {{title}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cycle Time</td>
			<td><input type="number" ng-model="smelting.cycleTime"></td>
		</tr>
		<tr>
			<td>Bars In Cycle</td>
			<td><input type="number" ng-model="smelting.cycleBars"></td>
		</tr>
		<tr>
			<td>Cost / Bar</td>
			<td><input ng-value="smelting.materialCostPerBar() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>XP / Bar</td>
			<td><input ng-value="smelting.xpPerBar() | number: 0 " disabled></td>
		</tr>
		
		<tr>
			<td>Normal Bars</td>
			<td><input ng-value="smelting.normalBarsPerSec() | number: 3 " disabled></td>
		</tr>
		<tr>
			<td>Bonus Bars</td>
			<td><input ng-value="smelting.bonusBarsPerSec() | number: 3 " disabled></td>
		</tr>
		<tr>
			<td>Bars / Sec</td>
			<td><input ng-value="smelting.barsPerSec() | number: 3 " disabled></td>
		</tr>
		
		<tr>
			<td>Ores</td>
			<td><input ng-value="smelting.oreCostPerSec() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Forge Amortization</td>
			<td><input ng-value="smelting.forgeAmortization() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Cost / Sec</td>
			<td><input ng-value="smelting.costPerSec() | number: 0 " disabled></td>
		</tr>
		
		<tr>
			<td>Profit / Bar</td>
			<td><input ng-value="smelting.profitPerBar() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Profit / Min</td>
			<td><input ng-value="smelting.profitPerMin() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Profit / Hour</td>
			<td><input ng-value="smelting.profitPerHour() | number: 0 " disabled></td>
		</tr>
		
		<tr>
			<td>XP / Hour</td>
			<td><input ng-value="smelting.xpPerHour() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Profit / XP</td>
			<td><input ng-value="smelting.profitPerXp() | number: 1 " disabled></td>
		</tr>
	</tbody>
</table>