<div class="profit" ng-show="loaded">
	<div class="profit-header">
		Smelting {{title}}
	</div>
	<div class="profit-body">
		<div>
			<button style="float: right;" ng-click="smelting.togglePortable()">{{smelting.portable ? '' : 'Not'}} Using Portable Forge</button>
		</div>

		<div class="profit-input">
			<span>Cycle Time</span>
			<input type="number" ng-model="smelting.cycleTime">
		</div>
		
		<div class="profit-input">
			<span>Bars In Cycle</span>
			<input type="number" ng-model="smelting.cycleBars">
		</div>
		
		<div class="profit-group">
			<div class="profit-group-title">Bars Per Second</div>
			<div class="profit-group-item">
				<span>Normal Bars</span>
				<span ng-bind="smelting.normalBarsPerSec() | number: 3 "></span>
			</div>
			<div class="profit-group-item">
				<span>Bonus Bars</span>
				<span ng-bind="smelting.bonusBarsPerSec() | number: 3 "></span>
			</div>
			<div class="profit-group-item">
				<span>Bars / Sec.</span>
				<span ng-bind="smelting.barsPerSec() | number: 3 "></span>
			</div>
		</div>


		<div class="profit-group">
			<div class="profit-group-title">Costs Per Second</div>

			<div class="profit-group-item">
				<span>Ores</span>
				<span ng-bind="smelting.oreCostPerSec() | number: 0 "></span>
			</div>
			<div class="profit-group-item">
				<span>Forge Amortization</span>
				<span ng-bind="smelting.forgeAmortization() | number: 0 "></span>
			</div>
			<div class="profit-group-item">
				<span>Cost / Sec.</span>
				<span ng-bind="smelting.costPerSec() | number: 0 "></span>
			</div>
		</div>

		<div class="profit-group">
			<div class="profit-group-title">Profit Metrics</div>
		
			<div class="profit-group-item">
				<span>Profit / Bar</span>
				<span ng-bind="smelting.profitPerBar() | number: 0"></span>
			</div>
			<div class="profit-group-item">
				<span>Profit / Min</span>
				<span ng-bind="smelting.profitPerMin() | number: 0 "></span>
			</div>
			<div class="profit-group-item">
				<span>Profit / Hour</span>
				<span ng-bind="smelting.profitPerHour() | number: 0 "></span>
			</div>
		</div>


		<div class="profit-group">
			<div class="profit-group-title">Experience Metrics</div>

			<div class="profit-group-item">
				<span>XP / Bar</span>
				<span ng-bind="smelting.xpPerBar() | number: 0 "></span>
			</div>
			<div class="profit-group-item">
				<span>XP / Hour</span>
				<span ng-bind="smelting.xpPerHour() | number: 0 "></span>
			</div>
			<div class="profit-group-item">
				<span>Cost / XP</span>
				<span ng-bind="smelting.costPerXp() | number: 1 "></span>
			</div>
		</div>
	</div>
</div>