<table ng-show="loaded">
	<thead>
		<tr>
			<th colspan="2">Smithing {{title}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Portable Forge</td>
			<td><button style="float: right;" ng-click="smithing.togglePortable()" ng-bind="smithing.portable ? 'Using' : 'Not Using'"></button></td>
		</tr>
		<tr>
			<td>Wasteless Smithing</td>
			<td><button style="float: right;" ng-click="smithing.toggleWasteless()" ng-bind="smithing.wastelessSmithing ? 'Using' : 'Not Using'"></button></td>
		</tr>
		<tr>
			<td>Cycle Time</td>
			<td><input type="number" ng-model="smithing.cycleTime"></td>
		</tr>
		<tr>
			<td>Items Produced</td>
			<td><input type="number" ng-model="smithing.cycleProduced"></td>
		</tr>
		
		<tr>
			<td colspan="2">Items Per Second</td>
		</tr>
		<tr>
			<td>Normal Items</td>
			<td><input ng-value="smithing.normalItemsPerSec() | number: 3 " disabled></td>
		</tr>
		<tr>
			<td>Bonus Items</td>
			<td><input ng-value="smithing.bonusItemsPerSec() | number: 3 " disabled></td>
		</tr>
		<tr>
			<td>Items / Sec.</td>
			<td><input ng-value="smithing.itemsPerSec() | number: 3 " disabled></td>
		</tr>
		
		<tr>
			<td colspan="2">Costs Per Second</td>
		</tr>
		<tr>
			<td>Bars</td>
			<td><input ng-value="smithing.barCostPerSec() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Forge Amortization</td>
			<td><input ng-value="smithing.forgeAmortization() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Cost / Sec.</td>
			<td><input ng-value="smithing.costPerSec() | number: 0 " disabled></td>
		</tr>
		
		<tr>
			<td colspan="2">Profit Metrics</td>
		</tr>
		<tr>
			<td>Profit / Item</td>
			<td><input ng-value="smithing.profitPerItem() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Profit / Min</td>
			<td><input ng-value="smithing.profitPerMin() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Profit / Hour</td>
			<td><input ng-value="smithing.profitPerHour() | number: 0 " disabled></td>
		</tr>
		
		<tr>
			<td colspan="2">Experience Metrics</td>
		</tr>
		<tr>
			<td>XP / Item</td>
			<td><input ng-value="smithing.xpPerItem() | number: 2 " disabled></td>
		</tr>
		<tr>
			<td>XP / Hour</td>
			<td><input ng-value="smithing.xpPerHour() | number: 0 " disabled></td>
		</tr>
		<tr>
			<td>Cost / XP</td>
			<td><input ng-value="smithing.costPerXp() | number: 1 " disabled></td>
		</tr>
	</tbody>
</table>